<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page.title }} | AI-Driven Medical Imaging & Diagnostics Lab </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<style>
			html, body {
				margin: 0;
				padding: 0;
			}
			header nav a {
				font-size: 1.15em !important;
				font-weight: 700 !important;
				font-style: italic !important;
			}
		</style>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-JE9GE456RQ"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-JE9GE456RQ');
		</script>
	</head>
	<body class="subpage">
		<header id="header">
			<div class="logo"><a href="{{site.baseurl}}/index.html"><img src="images/keedy-lab-logo.png"></a></div>
			<a href="#menu">Menu</a>
		</header>
		<nav id="menu">
			<ul class="links">
				<li><a href="{{site.baseurl}}/index.html">Home</a></li>
				<li><a href="{{site.baseurl}}/research.html">Research</a></li>
				<li><a href="{{site.baseurl}}/publications.html">Publications</a></li>
				<li><a href="{{site.baseurl}}/members.html">Members</a></li>
				<li><a href="{{site.baseurl}}/news.html">News</a></li>
			<li><a href="{{site.baseurl}}/contact.html">Contact</a></li>
		</ul>
		</nav>
		<section id="One" class="wrapper style3">
			<div class="inner">
				<header class="align-center">
					<p>AI-Driven Medical Imaging & Diagnostics Lab</p>
					<h2>{{ page.title }}</h2>
				</header>
			</div>
		</section>
		<section id="two" class="wrapper style2">
			<div class="inner">
				<div class="box">
					<div class="content">
						<header class="align-center">
							<h2>{{ page.heading }}</h2>
						</header>
						<p>{{content}}</p>
					</div>
				</div>
			</div>
		</section>
		<footer id="footer">
			<div class="copyright">
				&copy; AI-Driven Medical Imaging & Diagnostics Lab at University of Guelph, 2025.
			</div>
		</footer>
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

	</body>
</html>